.add-task {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  padding-bottom: 35px;
  border-bottom: 2px solid var(--grey-color);
}

.add-task input {
  width: 80%;
  padding-left: 15px;
  color: var(--secondary-text-color);
}

.add-task input.invalid {
  outline: 2px solid var(--orange-background-color);
  animation: shake 0.5s forwards;
  -webkit-animation: shake 0.5s forwards;
}

@keyframes shake {
  0% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
  20% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}
  40% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
  60% {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}
  80% {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
}
  100% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}

.add-task button {
  font-family: 'Poppins-light';
  width: 20%;
  height: 60px;
  border: none;
  border-radius: 12px;
  font-size: 15pt;
  color: var(--primary-text-color);
  background-color: var(--orange-background-color);
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.add-task button::first-letter {
  font-size: 17pt;
  font-family: 'Poppins-bold';
}

.add-task button:hover {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 900px) {
  .add-task {
    flex-direction: column;
  }
  .add-task button, .add-task input {
    width: 100%;
  } 
}
