.box {
  font-family: 'Poppins-light';
  height: var(--element-height);
  background-color: var(--primary-darker-background-color);
  border: none;
  border-radius: var(--element-border-radius);
  font-size: var(--font-size-md);
  -webkit-border-radius: var(--element-border-radius);
  -moz-border-radius: var(--element-border-radius);
  -ms-border-radius: var(--element-border-radius);
  -o-border-radius: var(--element-border-radius);
}

.box:focus {
  outline: none;
  color: var(--primary-text-color);
  background-color: var(--primary-dark-background-color);
}
