.item {
  width: 100%;
  height: var(--element-height);
  background-color: var(--primary-darker-background-color);
  border-top-right-radius: var(--element-border-radius);
  border-bottom-right-radius: var(--element-border-radius);
  display: flex;
  align-items: center;
  position: relative;
}

.item:not(:last-child) {
  margin: var(--element-margin);
}

.item::before {
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--secondary-background-color);
  /* margin-right: var(--bullet-margin-right); */
}

.item.deleted {
  animation: delete 0.7s forwards ease-in;
  -webkit-animation: delete 0.7s forwards ease-in;
}

@keyframes delete {
  100% {
    transform: translateX(-130%);
    -webkit-transform: translateX(-130%);
    -moz-transform: translateX(-130%);
    -ms-transform: translateX(-130%);
    -o-transform: translateX(-130%);
  }
}

.item input {
  width: 20px;
  height: 20px;
  margin: var(--checkbox-margin);
  accent-color: var(--checkbox-color);
}

.item label {
  color: var(--primary-text-color);
  font-size: var(--font-size-lg);
  user-select: none;
  text-decoration: none;
}

.item.checked {
  opacity: 0.55;
}

.item.checked label {
  text-decoration: line-through;
}

.delete-btn {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: var(--icon-color);
}

.delete-btn:hover {
  color: var(--icon-hover-color);
}

@media (max-width: 900px) {
  .item label {
    font-size: var(--font-size-md);
  }
}
