.overview {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.overview div {
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: var(--primary-text-color);
  user-select: none;
}

.overview span {
  font-family: 'Poppins-bold';
  font-weight: 900;
  width: 25px;
  text-align: center;
  border-radius: 4px;
  margin-left: 8px;
  padding: 5px 2px;
  background-color: var(--orange-background-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
