.filter-task {
  width: 100%;
  padding: var(--element-padding);
}

.filter-task input {
  width: 100%;
  padding-left: var(--input-text-indent);
  color: var(--secondary-text-color);
}

.filter-task input:focus {
  color: var(--primary-text-color);
}
