$dark-theme-primary-darkest-background-color: rgb(24, 24, 32);
$dark-theme-primary-darker-background-color: rgb(33, 33, 43);
$dark-theme-primary-dark-background-color: rgb(71, 71, 76);
$dark-theme-primary-light-background-color: rgb(204, 204, 204);
$light-theme-primary-lightest-background-color: rgb(237, 237, 237);
$light-theme-primary-lighter-background-color: rgb(215, 215, 215);
$light-theme-primary-light-background-color: rgb(190, 190, 190);
$light-theme-primary-dark-background-color: rgb(160, 160, 160);

$secondary-background-color: rgb(249, 87, 56);

$dark-theme-primary-text-color: rgb(255, 255, 255);
$dark-theme-secondary-text-color: rgb(128, 128, 128);
$light-theme-primary-text-color: rgb(0, 0, 0);
$light-theme-secondary-text-color: rgb(70, 70, 70);

$dark-theme-header-background-color: rgb(10, 10, 14);
$light-theme-header-background-color: rgb(160, 160, 160);

$dark-theme-checkbox-color: rgb(204, 204, 204);
$dark-theme-seperator-color: rgb(204, 204, 204);
$dark-theme-garbage-can-color: rgb(204, 204, 204);
$light-theme-checkbox-color: rgb(70, 70, 70);
$light-theme-seperator-color: rgb(120, 120, 120);
$light-theme-garbage-can-color: rgb(120, 120, 120);
$garbage-can-hover-color: rgb(249, 87, 56);

$dark-theme-menu-icon-color: rgb(255, 255, 255);
$dark-theme-button-color: rgb(67, 61, 113);
$dark-theme-shadow-color: rgba(0, 0, 0, 0.7);
$light-theme-menu-icon-color: rgb(223, 226, 0);
$light-theme-button-color: rgb(231, 231, 33);
$light-theme-shadow-color: rgba(140, 140, 140, 0.7);
