@font-face {
  font-family: "Poppins-light";
  src: url(../../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(../../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(../../fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
  font-family: "Vazir";
  src: url(../../fonts/Vazir/vazir.ttf);
}
