$font-size-sm: 13pt;
$font-size-md: 14pt;
$font-size-lg: 16pt;
$font-size-xlg: 50pt;

$input-text-indent-md: 10px;
$input-text-indent-lg: 15px;

$element-height: 60px;
$element-border-radius: 10px;
$element-padding-sm: 15px 0;
$element-padding-lg: 35px 0;
$element-margin: 10px 0;

$bullet-margin-right: 20px;

$checkbox-margin: 0 15px 0 20px;

$container-margin: 20px auto 40px;

$outer-loading-spinner-size: 80px;
$inner-loading-spinner-size: calc($outer-loading-spinner-size / 2);
