:root {
  --primary-darkest-background-color: rgb(24, 24, 32);
  --primary-darker-background-color: rgb(33, 33, 43);
  --primary-dark-background-color: rgb(71, 71, 76);
  --primary-light-background-color: rgb(204, 204, 204);

  --secondary-background-color: rgb(249, 87, 56);

  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(128, 128, 128);

  --checkbox-color: rgb(204, 204, 204);

  --seperator-color: rgb(204, 204, 204);

  --icon-color: rgb(204, 204, 204);
  --icon-hover-color: rgb(249, 87, 56);

  --shadow-color: rgba(0, 0, 0, 0.7);
}
