@import url("./asset/styles/colors.css");
@import url("./asset/styles/fonts.css");
@import url("./asset/styles/variables.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins-light", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-darkest-background-color);
}

code {
  font-family: "Poppins-light", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
